<div class="d-flex flex-column justify-content-center align-items-center h-100 custom-color">
          <h1 class="h1"><i class="fa-solid fa-briefcase"></i></h1>
          <span class="fs-3" style="color:white;">ようこそ</span>
</div>