
<%= image_tag "home.jpg", alt: "Home Image", class: "img-fluid", style: "object-fit: cover;" %>
<div class="container-fluid">
<div class="row">
    <div class="col-4 p-0">
        <div class="px-5">
            <p class="text-center">
                <i class="fa-solid fa-magnifying-glass fs-1"></i>
            </p>
            <p class="fs-5 mb-0">
                あなたのスキルに合った仕事を閲覧し、
                提案を提出してください。あなたのプ
                ロフィールを完成するために、サイン
                アップしてください。
            </p>
        </div>
    </div>
    <div class="col-4 p-0">
        <div class="px-5 p-0">
            <p class="text-center">
                <i class="fa-regular fa-handshake fs-1"></i>
            </p>
            <p class="fs-5 mb-0">
            求人を投稿すると、数分以内に提
            案が届きます。お気に入りの人を
            雇って、仕事を完了しましょう。あ
            なたの仕事を投稿するためにサイ
            ンアップしてください。
            </p>
        </div>
    </div>
    <div class="col-4 p-0">
        <div class="px-5 p-0">
            <p class="text-center">
                <i class="fa-solid fa-list-check fs-1"></i>
            </p>
            <p class="fs-5 mb-0">
            ジョプ検索サイトを使用すると、連
            絡先を共有したり、直接通信したり
            できます。
            </p>
        </div>
    </div>
</div>
</div>
