<style>
    .test{
        width:100%;
        background:#BEBEBE;
    }
</style>

<div class="container-fluid" style="height:85vh;">

    <h1 class="h2 text-center mt-5">無料で登録できます。はじめましょ</h1>

    <h5 class="h5 text-center mt-3">アカウントお持ちの方はこちら、<a class="text-decoration-none">ここにクリック</a></h5>

    <div class="row mt-5 px-5 py-3">
        <div class="col-6">
            <div class="test d-flex flex-column align-items-center py-5 border border-dark">
                <h3 class="h3 text-center mb-4 mt-4">お仕事を探していますか？ </h3>
                <p class="mb-4">あなたのスキルと合った仕事を見つけて、より多くの収入を得てください。</p>
                <a href="/m_users/new" class="btn btn-success">仕事するために登録</a>
            </div>
        </div>
        <div class="col-6">
            <div class="test d-flex flex-column align-items-center py-5 border border-dark">
                <h3 class="h3 text-center mb-4 mt-4">従業員をお探しですか？</h3>
                <p class="mb-4">仕事を投稿し、従業員を見つけて、仕事を終わらせましょう。</p>
                <a href="/m_companies/new" class="btn btn-success">雇うために登録</a>
            </div>
        </div>
    </div>
</div>